// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// .footer.container.d-flex.align-items-center.justify-content-center {
//     background-color: $footer-bg;
//     bottom: 0;
// }